li{
 	list-style-type: none;
 }


p,body,div,ul{
	margin:0px;
	padding:0px;
}
body{
	font-family: Verdana, Arial, '宋体';
    font-size: 12px;
}
#container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #A8A8A8;
    box-shadow: 10px 10px 5px #888888;
}



#header {
	height: 110px;
	color: #FFFFFF;
	clear: both;
	
}




#nav_first ul{
    clear: both;
	width: 1800px;

}
#nav_first li{
    float: left;
	width: auto;
	height: 45px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	text-align: center;
}
#nav_first a{
	font-size: 22px;
	color: #707070;
	text-decoration: none;
	

}
#nav_first a:hover{
	border-bottom: solid 2px #E80000;   
}


#nav_second{
	background-color: #D8D8D8;
	float: left;
	width: 157px;
	height: auto;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-left: 0px;

}

#nav_second h2{
	width: 180px;
	height:35px;
	
	text-align: center;
	margin: 0px;
    padding-top: 8px;
}
#rCourse h2{
	background-image: url("image/bg1.png");
	background-repeat: no-repeat;
}
#oCourse h2{
	background-image: url("image/bg2.png");
	background-repeat: no-repeat;
}
#nav_second ul{
	padding-left: 10px;
}
#nav_second h3{
	font-size: 14px;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 1px;
}
#nav_second a{
	color: #080808;
	text-decoration: none;
 }
#nav_second a:hover{
 	text-decoration: underline;
 }
 #special a{
 	color: #000000;
 	text-decoration: none;
 	font-size: 10px;
 }
 #special a:hover{
 	text-decoration: underline;
 }
#buleInfo a{
	color: #3300CC;
}


#contain{
	background-color: #FFFFFF;
	float: left;
	width: 58%;
	height: auto;
	margin-left: 20px;
}

#contain h2{
	font-size: 25px;
}
#contain h3{
	font-size: 15px;
}
#contain div{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px #686868 solid;
	padding-bottom: 20px;
	font-size: 10px;
}
div#cHeader {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#cHeader h2{
	margin-bottom: 0px;
}
.cLink{
	padding-top: 15px;
	padding-bottom: 35px;
}
#term_last{
	border-bottom: 1px #686868 solid;
}
#contain p{
	font-family: Verdana, Arial, '宋体';
	font-size: 14px;
	margin-bottom: 6px;
}
#contain a{
	color: #990000;
}
#contain a:hover{
	 color: #FF3300;
}


#buleLink a{
	color: #3300cc;
}

#nav_third{
	float: left;
	width: 156px;
	background-color: #D8D8D8;
	height: 1268px;
	
	margin-left: 70px;
	margin-bottom: 10px;
}
#nav_third a{
	text-decoration: none;
	
}

#sear{
	margin-top: 20px;
	margin-bottom: 30px;
}
#nav_third h3{
	width: 180px;
	height: 35px;
	padding-left: 0px;
	padding-top: 8px;
	text-align: center;
   
}
#bg5{
	background-image: url("image/bg5.png");
  background-repeat: no-repeat;
}
#bg6{
	margin-top: 50px;
	background-image: url("image/bg6.png");
  background-repeat: no-repeat;
}
#nav_third h4{
	text-align: center;
	width:100px;
	height: 36px;
	padding-top: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	}
#demo a{
    font-size: 15px;
    width:100px ;
    height: 60px;
    padding: 20px;
    color: #FFFFFF;
}
#book a{
	background-color: #00FF66;
}
#book a:hover{
 	background-color: #00FF00;
 }
 #lib a{
 	background-color: #FF00FF;
 }
 
 #lib a:hover{
 	background-color: #FF1493;
 }
 #test a{
 	background-color: #FFD700;
 }
 #test a:hover{
 	background-color: #FFFF00;
 }
 #foot{
 	clear: both;
 	background-color: #A8A8A8;
 	margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px; 	
 }
 #foot a{
 	color: #000000;
 	text-decoration: none;

 }
 #foot a:hover{
 	text-decoration: underline;
 }