p,body{
	margin:0px;
	padding:0px;
}
body{
	font-family: Verdana, Arial, '宋体';
    font-size: 12px;
}
#container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #A8A8A8;
    box-shadow: 10px 10px 5px #888888;
}



#header {
	height: 90px;
	color: #FFFFFF;
	clear: both;
	

}




#nav_first{
    clear: both;
	width: 1550px;

}
#nav_first li{
    float: left;
	width: auto;
	height: 55px;
	margin-left: 35px;
	margin-right: 0px;
	text-align: center;

}
#nav_first a{
	font-size: 22px;
	color: #707070;
	text-decoration: none;
	font-family:Georgia;

}
#nav_first a:hover{
	border-bottom: solid 2px #E80000;   
}


#nav_second{
	background-color: #D8D8D8;
	float: left;
	width: 180px;
	height: auto;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 0px;

}
#nav_second ul{
	padding-left: 10px;
}
#nav_second h2{
	font-size: 14px;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 1px;
}
#nav_second a{
	color: #707070;
	text-decoration: none;
 }
#nav_second a:hover{
 	text-decoration: underline;
 }
 #special a{
 	color: #000000;
 	text-decoration: none;
 	font-size: 10px;
 }
 #special a:hover{
 	text-decoration: underline;
 }
#buleInfo a{
	color: #3300CC;
}



#contain{
	background-color: #FFFFFF;
	float: left;
	width: 55%;
	height: auto;
	margin-left: 20px;
}

#contain h1{
       font-size: 23px;
}
#contain h2{
	font-size: 16px;
}
#contain div{
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 2px #686868 solid;
	border-bottom: none;
	font-size: 10px;
}
div#containHead{
	border-top: 1px #686868 solid;
	text-align: center;
}
div#buleLink{
	border-bottom: 1px #686868 solid;
	padding-bottom: 10px;
}
#buleLink{
	border-bottom: 1px #686868 solid;
}
#contain a{
	color: #990000;
}
#contain a:hover{
	 color: #FF3300;
}


#buleLink a{
	color: #3300cc;
}


#nav_third{
	background-color: #D8D8D8;
	float: left;
	width: 20%;
	height: auto;
	margin-left: 30px;
	margin-right: 10px;
}
#nav_third a{
	color: #990000;

}

#nav_third a:hover{
   color: #FF3300;
}
#submit{
	color: #FFFFFF;
	background-color: #D80000;
}
#nav_third h2{
	font-size: 5px;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 1px;
}


#foot{
 	clear: both;
 	background-color: #A8A8A8;
 	margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px; 
    margin-top: 7px;	
 }
 #foot a{
 	color: #000000;
 	text-decoration: none;

 }
 #foot a:hover{
 	text-decoration: underline;
 }




